<div class="container-fluid  myfont about " >
     <div class="col-sm-12 text-right"> <a routerLink="/" routerLinkActive="active"> <h3>Go Back</h3></a> 
        </div>
        <div class=" col-sm-12  ">
            <a href="http://www.yomify.com" ><img src="/images/YOMIFYLOGO.png" ></a>
	    </div>
<div class=col-sm-12>
    <h1><span style="color:white">ABOUT</span> </h1>
    
</div>
<div class=col-sm-4>
    
</div>
<div class="col-sm-4 centermode  regularmargin">
    <img src="/images/aboutus.jpg" class="centermode thumbnail">
</div>
<div class=col-sm-3>
    
</div>
<div class="col-sm-6 regularmargin">
    
    <h3>" Yomify was made for Web development projects with the committment to help  
    clients achieve and stay competitive.  Client needs are accurately ascertained and aptly addressed. "</h3>
</div>

<div class="col-sm-12 regularmargin">
  <h3> " Yomify provides extensive expertise in web portal and web applications software development. 
I am driven by a vision to help clients harness the power of the  information based economy
by using technology to greatly enhance effectiveness of marketing,analytical and business processes. "</h3>
</div>

<div class="col-sm-12 ">
<h3>"Yomify provides a user driven service and ensure all detailed requirements supplied by clients are fully met. 
 You can count on yomify as many other bussiness leaders have"<br><br><br></h3>
</div>



    
   
    
    <div class=" col-sm-12 majormargin well">
			  
			    <h3> "Simplicity of usage is the ultimate sophistication. 
			   We do not pride ourselves in consious competence, rather we exude subconscious competence
			        . . . the expert arena" - A.O Adisa.</h3>
   </div>
    
    
</div>
