
<div class=" container-fluid myfont myservice">
  
       <div class="col-sm-12 text-right"> <a routerLink="/" routerLinkActive="active"> <h3><span style="color:white">Go Back</span></h3></a> 
        </div>
    <div class="col-offset-sm-4 col-sm-4 ">
            <a href="http://www.yomify.com" ><img src="/images/YOMIFYLOGO.png" ></a>
	    </div>
<div class=col-sm-12>
    <h1><span style="color:white"> SERVICES</span></h1>
    
</div>

<div class="col-sm-12   majormargin text-center">
    <img src="/images/servicespage.jpg" class="centermode img-thumbnail">
</div>



 <div class="col-xs-12 ">
            
            <div class="col-xs-6 ">
                <div >
                    <img src="/images/webdes.jpg" alt="Website Design" width=30% class=rightmargin>
                       <h4 style=display:inline>Website Design and Deployment.</h4>                        
          </div>                
            </div>
            
            
            <div class="col-xs-6  ">
                <div >
                    <img src="/images/webapp.jpg" alt="Web Applications developmen" width=30% class=rightmargin>
                       <h4 style=display:inline>Web Applications Development.</h4>                        
            </div>                
            </div>
            <br>
            
            <div class="col-xs-6  regularmargin">
                <div >
                    <img src="/images/phoneapp.jpg " alt="Mobile Application Development"width=30% class=rightmargin >
                       <h4 style=display:inline>Mobile Applications Development.</h4>                        
                   </div>                
            </div>
            
            
            <div class="col-xs-6  regularmargin" >
                <div >
                    <img src="/images/webopt.jpg" alt="Web Optimization Services" width=30% class=rightmargin>
                       <h4 style=display:inline >Web Optimization Services.</h4>                        
                </div>                
            </div>
            <div class="col-xs-6  regularmargin" >
                <div >
                    <img src="/images/fullstack.jpg" alt="Full stack development" width=30% class=rightmargin>
                       <h4 style=display:inline >Full stack development.</h4>                        
                </div>                
            </div>
            
            <div class="col-xs-6  regularmargin" >
                <div >
                    <img src="/images/apidev.jpg" alt="API development and Integration" width=30% class=rightmargin>
                       <h4 style=display:inline >API development and Integration.</h4>                        
                </div>                
            </div>
            
        </div> 
       
</div>