

.myfont {
    
    
   font-family: 'Advent Pro', sans-serif;
   /*font-family: 'Marvel', sans-serif;*/
   /*font-family: 'Caudex', serif;*/
  

   
}
.myborder {
    border:solid red 1px;
}


.bottombigmargin {
    margin-bottom:100px;
}

.mylogo {
    width:60%;
    margin:100px 0px;
}

.bigmargin{
    margin:100px 0px;
}

a:hover {
	color: #fff;
}

.mymidguy{
    margin:auto;
    /*padding:auto;*/
    text-align:center;
}

.about{
    background: #803d9a;
}
.about2{
    background: #803d9a;
    color:white;
}

.works{
    background: #ef2a7c;
}
.works2{
    background: #ef2a7c;
    color:white;
}


.services{
    background: #87c940;
}

.services2{
     background: #87c940;
      color:white;
}

.contact{
    background: #f7941d;
}
.contact2{
    background: #f7941d;
     color:white;
}

.centermode{
    width:100%;
    margin:auto;
}
.foundermode{
    width:100%;
    
}

.rightmargin {
   margin-right:20px; 
}

.regularmargin {
    margin:30px 0px;
}

.majormargin {
    margin:70px 0px;
}

.mybox {
	position: relative;
	width: 100%;
	height: 52%;
	cursor: pointer;
	opacity: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    
}

.about img {
    width:40%;
    margin:auto;
    display: block;
}

.services img {
    width:45%;
    margin:auto;
    display: block;
}

.works img {
    width:40%;
    margin:auto;
    display: block;
}

.contact img {
    width:70%;
    margin:auto;
    display: block;
}










.mybox h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}


