 

 <div class="mybox about  col-xs-6">
        <a routerLink="/about" routerLinkActive="active" class="mymidguy"><img src="/images/indexabout.png"><h2>ABOUT</h2></a>
      </div>
    
       <div class="mybox services col-xs-6 ">
       
        <a routerLink="/services" routerLinkActive="active">
        <img src="/images/services.png"><h2>SERVICES</h2></a>
        </div>
        
       <div class="mybox works col-xs-6 ">
          <a routerLink="/works" routerLinkActive="active"><img src="/images/works.png"><h2>WORKS</h2></a>
       </div>
       
       
         <div class="mybox contact col-xs-6  ">
         <a routerLink="/contact" routerLinkActive="active"><img src="/images/contact.png"><h2>CONTACT</h2></a>
         
         </div>
        
         
      
